include README.md
include LICENSE
include requirements.txt
recursive-include neural_finance *.py
recursive-include neural_finance/data_cache *
recursive-exclude neural_finance/__pycache__ *
recursive-exclude neural_finance/*/__pycache__ *
recursive-exclude . *.pyc
recursive-exclude . *.pyo
